* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main {
    max-width: 500px;
    border: 1px solid black;
    background-color: snow;


}

h1 {
    margin: .5rem;

}

form {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: beige;
    color: black;
}

input,
textarea,
select {
    padding: .75rem;
    min-width: 350px;
}

button {
    background-color: navy;
    color: white;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    width: 100%;
    height: 30px;

}

code {
    display: block;
    background-color: black;
    color: white;
}

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}

.quiz-item {
    border: none;

}